.navbar {
    padding: 20px;
    margin: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height:20px;
}

ul.navbar li {
    display: inline;
    padding: 20px;
    position: relative;
}

a.navbar-link, a.navbar-link:visited, a.navbar-link:link {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
    display: inline;
}

a.navbar-link:hover, a.navbar-link:active {
    transition: all .2s ease-in;
    text-shadow: 20px;
    font-size: 110%;
    color: darkgray;
}