/*
Ben Shirley, 2024
Styling for the Projects panel component. There is not too much to do here,
as a lot of this is covered by the react-slick dependency.
*/

/* The styling here is for each individual project */
.project {
    background-color: var(--blueaccent);
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    text-align: justify;
    padding: 2em;
    max-width: 800px;
    height: 200px;
    white-space: wrap;
    border-radius: 20px;
    transition: all .2s ease-in;
    text-decoration: none;
    color: inherit;
}

/* on-hover animation */
.project:hover {
  transform: scale(1.01) translateY(-1em);
}

/* projects are divided into an info and an image section. */
.project-left {
    padding-right: 1em;
    flex: 2;
}

.project-right {
    flex: 1;
}

/* some funky stuff is needed to overide react-slick defaults*/
.slick-next:before, .slick-prev:before {
    color: var(--dark);
}

.slick-slide {
  padding: 0 15px;
}

.slick-list {
  margin: 0 2em;
  overflow: visible;
  overflow-x: clip;
}
