body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

img {
    max-width: 100%;
}

.section {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 3px;
}

#content {
    margin: 5%;
    margin-top: 2%;
}

#about-me {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

#bio {
    flex: 3;
    padding: 2em;
}

#photo {
    flex: 2;
}