body {
    font-family: "poppins-thin", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    background-color: var(--whitebackground);
}

img {
    max-width: 100%;
}

.section {
    border-style: solid;
    border-color: var(--dark);
    border-width: 5px;
    border-radius: 3px;

    padding-left: 1em;
    padding-right: 1em;
}

#content {
    margin: 5%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#about-me {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    border-style: none;
}

#vert-about-me {
    flex: 3;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#bio {
    flex: 1;
    text-align: justify;
}

#silly-me {
    flex: 1;
    background-color: var(--blueaccent);
}

#photo {
    flex: 2;
    border-style: none;
}

#projects {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}


#projects-content {
    display: flex; 
    column-gap: 1em;  
    overflow-x: auto;  
    white-space: nowrap; 
}

.project {
    white-space: wrap;
    background-color: var(--blueaccent);
    text-align: justify;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    padding: 2em;
    flex-shrink: 0;
    border-radius: 20px;
}

.project-left {
    padding-right: 1em;
    flex: 2;
}

.project-right {
    flex: 1;
}


:root {
    --bluedark: #1A1455;
    --blueaccent: #add8e6;
    --whitebackground: #F7F7F7;
    --greyaccent:  #7F7F80;
    --dark: #323232;
}