<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

        <link href="style/main.css" rel="stylesheet">
        <link href="style/navbar.css" rel="stylesheet">
        
    </head>
    <body>
        {{template "navbar" .}}
        <div id="content">
            <h1>Ben Shirley</h1>
            <div id="about-me">
                <h3>About Me</h3>
                <p>Hi there! my name is Ben Shirley and I'm a {{ .Age }}-year old wannabe software developer.
                    I am just about to complete my BSc in Maths and Computer Science, both of which I love.
                </p>
                <p>This is my personal webpage, built by me! You can check out my projects below,
                    and leave a comment for me to review later. You can also email me directly from this webpage.
                </p>
            </div>
        </div>
    </body>
</html>