<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

        <link href="style/main.css" rel="stylesheet">
        <link href="style/navbar.css" rel="stylesheet">
        
    </head>
    <body>
        {{template "navbar" .}}
        <div id="content">
            hi there, welcome to my website loser
        </div>
    </body>
</html>