{{define "project"}}
    <div id="projects-container">
    {{range .Projects}}
    <div class="project fade">
        <div class="project-left">
            <h3 class="project-title">{{  .Name  }}</h3>
            <p class="dates">{{  .Started  }} to {{ .Finished }}</p>
            <p class="project-desc">{{ .Description  }}</p>
            <a href={{  .URL  }}>Project Link</a>
        </div>
        <div class="project-right">
            <img src={{ .ImageFile}} alt="">
        </div>
    </div>
    <a id="project-prev" onclick="changeProj(-1)">&#10095;</a>
    <a id="project-next" onclick="changeProj(1)">&#10094;</a>
    {{end}}
    </div>
{{end}}

